.footer {
  background: #F7F7F7;
  height: 197px;
  position: relative;
}
.footer-info-label {
  font-size: 9px;
  font-weight: 400;
  color: #000000;
  bottom: 14px;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 224px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 26px;
  justify-content: center;
}
.footer-wrapper .menu-block {
  width: 10%;
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}
.footer-wrapper .menu-block-last {
  margin-right: -3%;
}
.footer-wrapper .menu-block-label {
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 17px;
}
.footer-wrapper .nav-dark {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.footer-wrapper .nav-dark-item {
  margin: 0;
  margin-bottom: 6px;
}
.footer-wrapper .nav-dark-link {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 6px;
  text-decoration: none;
}
.footer-wrapper .media-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.footer-wrapper .media-icons-item {
  margin-right: 16px;
}

a {
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 24px;
  font-size: 38px;
  font-weight: 700;
}

.nav {
  width: 640px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 15px;
}
.nav-item {
  margin-left: 16px;
  margin-right: 16px;
}
.nav-item-first {
  margin-left: -16px;
}
.nav-item-last {
  margin-right: -16px;
}
.nav-link {
  text-decoration: none;
  font-size: 13px;
}

.search {
  grid-column: 2;
  width: 584px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 3px;
}
.search-icon {
  margin-right: 16px;
  width: 17px;
  height: 17px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.search-input {
  width: inherit;
  height: inherit;
  background-color: transparent;
  border: none;
  font-size: 11px;
  margin-left: 16px;
}
.search-input:focus {
  outline: none;
}

.user-cart {
  height: inherit;
  grid-column: 3;
  position: absolute;
  right: 0;
  margin-right: 25px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.user-cart .auth-link {
  font-size: 11px;
  font-weight: 600;
}
.user-cart .auth-link-sign-in {
  padding-right: 10px;
}
.user-cart .auth-link-register {
  margin-left: 10px;
  margin-right: 17px;
}
.user-cart .auth-link-greet {
  font-size: 11px;
  margin-right: 17px;
}

.auth {
  display: inherit;
  align-items: inherit;
}
.auth-panel {
  display: inherit;
  align-items: inherit;
}

.upper-menu {
  display: grid;
  grid-template-rows: repeat(1, 48px);
  grid-template-columns: repeat(3, 1fr);
  margin-top: 24px;
}

.basket {
  width: 17px;
  height: 24px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.basket:hover {
  cursor: pointer;
}

.menu-burger {
  width: 20px;
  height: 15px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  display: inline-block;
}

.search-icon-btn {
  width: 17px;
  height: 17px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  display: inline-block;
}

.items-in-cart {
  background-color: #F2DA91;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

.email-panel {
  height: 146px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email-panel .text {
  width: 439px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 14px;
}
.email-panel .form {
  display: flex;
  flex-direction: row;
}
.email-panel .form-input {
  width: 334px;
  height: 29px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E1E0E1;
  padding-left: 11px;
}
.email-panel .form-input::-moz-placeholder {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
}
.email-panel .form-input:-ms-input-placeholder {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
}
.email-panel .form-input::placeholder {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
}
.email-panel .form-button {
  margin-left: 12px;
  height: 32px;
  width: 94px;
  background: #000000;
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  border: solid #000000 1px;
  border-radius: 3px;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  height: 132px;
  width: 100%;
}
.header-transparent {
  background: transparent;
}
.header-transparent .upper-menu a {
  color: #ffffff;
}
.header-transparent .nav-link {
  color: #ffffff;
}
.header-transparent .delivery-info {
  background-color: #ffffff;
}
.header-transparent .auth-link-sign-in {
  border-right: solid 2px #ffffff;
}
.header-transparent .search {
  background-color: rgba(247, 247, 247, 0.24);
}
.header-transparent .search-input::-moz-placeholder {
  color: #ffffff;
}
.header-transparent .search-input:-ms-input-placeholder {
  color: #ffffff;
}
.header-transparent .search-input::placeholder {
  color: #ffffff;
}
.header-transparent .search-icon {
  background: url("/img/icons/search-light.png");
}
.header-transparent .auth-panel {
  padding-left: 30px;
}
.header-transparent .basket {
  background: url("/img/icons/basket-light.png");
}
.header-transparent .menu-burger {
  background: url("/img/icons/menu-burger-light.png");
}
.header-transparent .search-icon-btn {
  background: url("/img/icons/search-light.png");
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-active {
  background: #ffffff;
}
.header-active .upper-menu a {
  color: #000000;
}
.header-active .nav-link {
  color: #000000;
}
.header-active .delivery-info {
  background-color: #F7F7F7;
}
.header-active .auth-link-sign-in {
  border-right: solid 2px #000000;
}
.header-active .search {
  background-color: #f7f7f7;
}
.header-active .search-input::-moz-placeholder {
  color: #000000;
}
.header-active .search-input:-ms-input-placeholder {
  color: #000000;
}
.header-active .search-input::placeholder {
  color: #000000;
}
.header-active .search-icon {
  background: url("/img/icons/search-dark.png");
}
.header-active .basket {
  background: url("/img/icons/basket-dark.png");
}
.header-active .menu-burger {
  background: url("/img/icons/menu-burger-dark.png");
}
.header-active .search-icon-btn {
  background: url("/img/icons/search-dark.png");
}

.delivery-info {
  font-size: 11px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.delivery-info span {
  margin: auto;
}
.delivery-info-icon {
  margin-right: 6px;
}
.delivery-info-link {
  text-decoration: none;
  margin-right: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.banner {
  overflow: hidden;
  position: relative;
  z-index: -1;
  padding-top: 24px;
}
.banner-label {
  position: absolute;
  font-weight: 700;
  bottom: 37%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 787px;
  color: #ffffff;
  font-size: 60px;
}
.banner-img {
  width: 100%;
  z-index: -1;
}

.upper-menu-left-block {
  display: none;
}

@media (max-width: 1010px) {
  .search {
    width: 384px;
  }
}
@media (max-width: 800px) {
  .delivery-info {
    display: none;
  }

  .upper-menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 48px);
  }

  .search {
    grid-row: 2;
    grid-column: 1/span 3;
    margin-bottom: 10px;
    justify-self: center;
    display: none;
  }

  .nav {
    display: none;
  }

  .logo {
    grid-column: 2;
    grid-row: 1;
    position: initial;
    display: initial;
  }

  .auth {
    display: none;
  }

  .upper-menu-left-block {
    display: initial;
    grid-column: 1;
  }

  .search-icon-btn {
    margin-left: 17px;
  }

  .banner-label {
    display: none;
  }

  .banner-img {
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */