<footer class="footer">
    <div class="footer-wrapper">
        <div class="menu-block">
            <div class="menu-block-label">About Us</div>
            <nav>
                <ul class="nav-dark">
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Who we are</a></li>
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Our stores</a></li>
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Customer Reviews</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-block">
            <label class="menu-block-label">Categories</label>
            <nav>
                <ul class="nav-dark">
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Women fashion</a></li>
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Accessories</a></li>
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Kids</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-block">
            <label class="menu-block-label">Help</label>
            <nav>
                <ul class="nav-dark">
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Customer service</a></li>
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Size guide</a></li>
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Contact us</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-block">
            <div class="menu-block-label">Payments & <br>Delivery</div>
            <nav>
                <ul class="nav-dark">
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Purchase terms</a></li>
                    <li class="nav-dark-item"><a class="nav-dark-link" href="">Guarantee</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-block-last">
            <div class="menu-block-label">Social</div>
            <nav>
                <ul class="media-icons">
                    <li class="media-icons-item"><a href=""><img src="../img/icons/insta.png"></a></li>
                    <li class="media-icons-item"><a href=""><img src="../img/icons/twitter.png"></a></li>
                    <li class="media-icons-item"><a href=""><img src="../img/icons/snapchat.png"></a></li>
                    <li class="media-icons-item"><a href=""><img src="../img/icons/facebook.png"></a></li>
                    <li class="media-icons-item"><a href=""><img src="../img/icons/youtube.png"></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer-info-label">
        © Copyright, Aurora 2020. All Rights reserved.
    </div>
</footer>