<div class="delivery-info">
    <span>We deliver Worldwide</span>
    <a class="delivery-info-link" href="">
        <img class="delivery-info-icon" src="/img/icons/location.png"/>
        Our stores
    </a>
</div>
<div class="upper-menu">
    <div class="upper-menu-left-block">
        <a class="menu-burger" href=""></a>
        <a class="search-icon-btn" href=""></a>
    </div>
    <a class="logo" href="">Aurora</a>
    <div class="search">
        <input class="search-input" placeholder="What are you looking for?">
        <label class="search-icon icon-dark"></label>
    </div>
    <div class="user-cart">
        <div class="auth-panel">
            <!-- 
                two options:
                div with id="unauthorized" shows SIGN IN and REGISTER links
                div with id="authorized" shows GREETINGS link and ITEMS IN CART label
            -->
            <!-- for unauthorized users -->
            <div id="unauthorized" class="auth">
                <a class="auth-link auth-link-sign-in" href="">Sign in</a>
                <a class="auth-link auth-link-register" href="">Register</a>
            </div>
            <!-- for authorized users -->
            <div id="authorized" style="display:none" class="auth">
                
                    <a class="auth-link auth-link-greet" href="">Hi, Angels!</a>

            </div>
            <a class="basket" href=""></a>
            <label class="items-in-cart">99</label>
        </div>
    </div>
</div>
<nav>
    <ul class="nav">
        <li class="nav-item nav-item-first"><a class="nav-link" href="">WHAT'S NEW</a></li>
        <li class="nav-item"><a class="nav-link" href="">WOMEN</a></li>
        <li class="nav-item"><a class="nav-link" href="">ACCESSORIES</a></li>
        <li class="nav-item"><a class="nav-link" href="">KIDS</a></li>
        <li class="nav-item"><a class="nav-link" href="">BEAUTY</a></li>
        <li class="nav-item"><a class="nav-link" href="">OUTLET</a></li>
        <li class="nav-item nav-item-last"><a class="nav-link" href="">STORIES</a></li>
    </ul>
</nav>