.footer {
    background: $light;
    height: 197px;
    position: relative;
    &-info-label {
        font-size: 9px;
        font-weight: 400;
        color: $black;
        bottom: 14px;
        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 224px;
    }
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 26px;
    justify-content: center;
    .menu-block {
        width: 10%;
        display: flex;
        flex-direction: column;
        margin-right: 3%;
        &-last{
            margin-right: -3%;
        }
        &-label {
            font-family: 'Cormorant Garamond', serif;
            margin-bottom: 17px;
        }
    }
    .nav-dark {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding-left: 0;
        &-item {
            margin: 0;
            margin-bottom: 6px;
        }
        &-link{
            font-size: 12px;
            font-weight: 400;
            color: $black;
            margin-bottom: 6px;
            text-decoration: none;
        }
    }
    .media-icons {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
        margin: 0;
        &-item {
            margin-right: 16px;
        }
    }
}