$dark: #333333;
$white: #ffffff;
$black: #000000;
$light: #F7F7F7;
$borders: #E1E0E1;
$input-text: #4A4A4A;
$items-in-cart-label: #F2DA91;

//for transparent header
$header-text-light: $white;
$logo-light: $white;
$search-input-transparent: rgba(247,247,247,0.24);

//for white header
$header-text-dark: $black;
$logo-dark: $dark;
$search-input-light: rgba(247,247,247,1);
